.messages {
  position: relative;

  &__searchbar {
    margin-top: 10px;
    padding: 10px 20px;
  }
}

.message {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  transition: 0.2s;

  &:hover {
    background: rgb(239 239 239);
  }

  &__user {
    display: flex;
    flex-basis: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &__profilePic {
      height: 50px;
      width: 50px;
      border-radius: 50px;
      object-fit: cover;
    }

    &__info {
      margin-left: 10px;
      min-width: 0;
      width: 100%;
    }

    &__name {
      font-weight: 600;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &__last-message {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }

  &__date {
    flex-basis: 15%;
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
  }
}
